[submodule "impart-app-windows"]
	path = src/impart-app-windows
	url = git@github.com:bluday/impart-app-windows.git
[submodule "impart-core"]
	path = src/impart-core
	url = git@github.com:bluday/impart-core.git
