[submodule "impart-core"]
	path = src/impart-core
	url = https://github.com/BluDay/impart-core
[submodule "impart-app-windows"]
	path = src/impart-app-windows
	url = https://github.com/BluDay/impart-app-windows
