namespace Impart.Core.Domain.Models;

public sealed partial class {{0}} : IEquatable<{{0}}>, IEqualityComparer<{{0}}>
{
    public Guid Id { get; set; } = Guid.NewGuid();

    public bool Equals({{0}}? x, {{0}}? y)
    {
        return x?.Id == y?.Id;
    }

    public bool Equals({{0}}? other)
    {
        return Id == other?.Id;
    }

    public int GetHashCode([DisallowNull] {{0}} obj)
    {
        return obj.GetHashCode() ^ obj.Id.GetHashCode();
    }
}